.insights {
    background-color: #1D1E22;
}

.insights__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(60);
    @include adp("column-gap", 60, 20);

    @media (max-width: em(1023)) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(600)) {
        grid-template-columns: 1fr;
    }
}