@import "vendor/reset";
@import "vendor/fonts";
@import "vendor/options";
@import "vendor/mixins";

.body {
    font-family: 'Red Rose';
    background-color: #101010;
    color: white;
    position: relative;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 1;
        opacity: 0;
        transition: opacity, visibility, .2s;
        visibility: hidden;
    }


    &_no-scroll {
        overflow: hidden;

        &::after {
            opacity: .8;
            visibility: visible;
        }
    }
}


.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Common styles */
@import "vendor/common-styles";

/* Blocks */
@import "blocks/header";
@import "blocks/footer";
@import "blocks/intro";
@import "blocks/categories";
@import "blocks/collections";
@import "blocks/tranding";
@import "blocks/insights";
@import "blocks/download";